In [19]:
import numpy as np
import pandas as pd
import scipy.io
import time
import timeit

In [21]:
#------------------    Read in and Process Real Data    ----------------------#
# Read 311 data
t1 = time.time()
requests = pd.read_csv('../../311__Service_Requests.csv')
t2 = time.time()
print "Read in data in %.2f seconds." % (t2 - t1)

# Filter for closed cases
t1 = time.time()
closed_requests = requests[requests['CASE_STATUS'] == 'Closed']
t2 = time.time()
print "Filtered data in %.2f seconds." % (t2 - t1)

# Convert dates to datetime type
t1 = time.time()
for col in ['OPEN_DT', 'TARGET_DT', 'CLOSED_DT']:
    closed_requests[col] = pd.to_datetime(closed_requests[col], infer_datetime_format=True)
t2= time.time()
print "Dates processed in %.2f seconds." % (t2 - t1)

Read in data in 10.75 seconds.
Filtered data in 0.30 seconds.

/Users/isadoranun/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/isadoranun/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Dates processed in 461.30 seconds.

In [31]:
#---------------- Plot Cluster Membership Histogram ----------------#

def filter_by_id(ids, source):
    begin = pd.to_datetime('January 01, 2015 12:00AM') 
    end = pd.to_datetime('January 01, 2016 12:00AM')

    # Filter for requests opened between begin and end dates
    in_range = closed_requests[closed_requests['OPEN_DT'] > begin]
    in_range = in_range[in_range['OPEN_DT'] < end]

    # Filter for requests with specific source
    in_range = in_range[in_range['Source'] == source]
    
   
    # Filter for requests for a set of case ids
    in_range = in_range[in_range['CASE_ENQUIRY_ID'].isin(ids)]
    
    return in_range

In [32]:
clusters = scipy.io.loadmat("2015_data_const_MAP_ids.mat")

In [33]:
ids0 = clusters['0'].tolist()[0]
ids1 = clusters['1'].tolist()[0]
ids2 = clusters['2'].tolist()[0]

In [42]:
a0 = filter_by_id(ids0,'Constituent Call')
a0 = a0[['LONGITUDE','LATITUDE']]
a0['Cluster'] = np.zeros(len(a0))
a1 = filter_by_id(ids1,'Constituent Call')
a1 = a1[['LONGITUDE','LATITUDE']]
a1['Cluster'] = np.ones(len(a1))
a2 = filter_by_id(ids2,'Constituent Call')
a2 = a2[['LONGITUDE','LATITUDE']]
a2['Cluster'] = 2*np.ones(len(a2))

In [58]:
all_data = pd.concat([a1,a0,a2])

In [59]:
all_data

        LONGITUDE  LATITUDE  Cluster
15       -71.0660   42.3590        1
35       -71.0694   42.3593        1
117      -71.0281   42.3381        1
160      -71.0891   42.3500        1
177      -71.0303   42.3813        1
205      -71.0683   42.3592        1
226      -71.0782   42.3367        1
265      -71.0345   42.3325        1
281      -71.0545   42.3342        1
302      -71.0791   42.3374        1
336      -71.0591   42.3505        1
370      -71.0534   42.3358        1
397      -71.0173   42.3839        1
433      -71.0768   42.3545        1
458      -71.0439   42.3510        1
479      -71.0853   42.3495        1
497      -71.0251   42.3383        1
568      -71.0518   42.3351        1
640      -71.1235   42.2561        1
680      -71.0536   42.3640        1
719      -71.0304   42.3645        1
786      -71.0526   42.3412        1
812      -71.1226   42.2562        1
849      -71.0641   42.3790        1
904      -71.0285   42.3347        1
935      -71.0585   42.3670        1
970      -71.0694   42.3486        1
999      -71.0161   42.3840        1
1067     -71.0298   42.3773        1
1102     -71.0662   42.3175        1
...           ...       ...      ...
638201   -71.0587   42.3594        2
674267   -71.0587   42.3594        2
687700   -71.0888   42.2870        2
688178   -71.0817   42.2886        2
688254   -71.0516   42.3372        2
689816   -71.0341   42.3650        2
690256   -71.0326   42.3659        2
697500   -71.0587   42.3594        2
697680   -71.0587   42.3594        2
698329   -71.0568   42.3769        2
707105   -71.0830   42.3315        2
707413   -71.1385   42.2342        2
714187   -71.1392   42.3536        2
714744   -71.1580   42.2649        2
714799   -71.0341   42.3733        2
715120   -71.0044   42.3925        2
715307   -71.1581   42.2652        2
715883   -71.1508   42.2927        2
717842   -71.0721   42.3465        2
718208   -71.1548   42.2825        2
720115   -71.0663   42.3603        2
724222   -71.0908   42.2808        2
725733   -71.1593   42.3571        2
733783   -71.0822   42.2779        2
735976   -71.1420   42.2838        2
737989   -71.0653   42.2959        2
738194   -71.0134   42.3812        2
738459   -71.0785   42.3229        2
738949   -71.0075   42.3930        2
743062   -71.0587   42.3594        2

[20406 rows x 3 columns]

In [60]:
all_data = all_data.reset_index()

In [61]:
all_data.to_json("clusters.json", orient="records")

In [57]:
print len(a0),len(a1),len(a2)

2398 17894 114